@page "/inventory/deactivate/{Id}"

<PageTitle>Deactivate Inventory Item</PageTitle>

@using CQRSWebApp.Data
@using SimpleCQRS.ReadModel
@inject InventoryItemsService InventoryItemsService
@inject NavigationManager NavigationManager

<h1>Deactivate Inventory Item</h1>

@if (inventoryItemDetailsDto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <form @onsubmit="Submit">
        <div class="alert alert-danger" role="alert" hidden="@(exception == null)">@exception?.Message</div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <p>Deactivate @inventoryItemDetailsDto.Name (Version: @inventoryItemDetailsDto.Version)?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                    <input type="button" class="btn btn-link" @onclick="@Cancel" value="Cancel"/>
                </div>
            </div>
        </div>
    </form>
}

@code {
    [Parameter]
    public string? Id { get; set; }

    private InventoryItemDetailsDto? inventoryItemDetailsDto;
    private Exception? exception;

    protected override void OnInitialized()
    {
        var guid = Guid.Parse(Id);
        inventoryItemDetailsDto = InventoryItemsService.GetInventoryItemDetails(guid);
    }

    void Submit()
    {
        try
        {
            exception = null;
            InventoryItemsService.DeactivateInventoryItem(inventoryItemDetailsDto.Id, inventoryItemDetailsDto.Version);
            NavigationManager.NavigateTo("inventory", true);
        }
        catch (Exception e)
        {
            exception = e;
        }
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("inventory");
    }
}